/* Common */
.dp-fx {
    display: flex;
}
.bg-f5 {
    background: #f5f5f5;
}
.bg-ff {
    background: #fff;
}
.fs-0 {
    font-size: 0;
}


/* Layout */

/* header */
#l-header {
    width: 100%
}

/* header-01 */
.l-header-01 {
    height: 36px;
    display: flex;
    justify-content:space-between;
}
.l-header-01_mem {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 2px;
}

/* header-02 */
.l-header-02 {
    height: 60px;
    display: flex;
    /* position: fixed; */
}
.l-header-02_logo{
    width: 60px;
}
.l-gnb {
    flex-grow: 1;
    /* ? */
    text-align: center;
}
.l-menu {
    width: calc(100% - 680px);
    height: 60px;
    margin: 0 auto;
    /* overflow: hidden; */
    max-width: 1255px;
    font-size: 0;
}
.l-search {
    width: 100%;
    height: 60px;
    padding: 0 20px 0 16px;
}
.l-input-box {
    width: 100%;
    height: 100%;
    position: relative;
}

/* main */
#l-menu {
    margin-bottom: 56px;
}
.l-main-content-01 {
    max-width: 1808px;
    margin: 84px auto 0;
    padding: 0 8px;
}
.l-main-content-02 {
    max-width: 920px;
    margin: 84px auto 0;
    padding: 0 20px;
}
.l-main-header {
    width: 100%;
    margin-bottom: 24px;
    font-size: 0;
}
.l-main-link {
    margin-top: 18px;
}

/* banner */
.l-banner {
    width: 100%;
    min-height: 58px;
    padding-top: 10px;
}
.l-banner-text-box {
    display: flex;
    justify-content: center;
}

/* hero */
.l-hero {
    max-width: 1808px;
    margin: 0 auto;
    padding: 0 8px;
}
.l-hero-img-wrapper {
    width: 896px;
    height: 667px;
}
.l-hero-text-box {
    margin-top: 48px;
    text-align: center;
}

/* featured styles */
.l-fs-img-wrapper {
    width: 888px;
    height: 700px;
}

/* the latest and greatest */
.l-lg-img-wrapper {
    width: 586px;
    height: 586px;
}

/* new spring essentials */
.l-nse-img-wrapper {
    width: 1792px;
    height: 900px;
}

/* more to explore */
.l-mte-img-wrapper {
    width: 586px;
    height: 733px;
}

/* slogan */
.l-slogan-img-wrapper {
    width: 1792px;
    height: 700px;
}

/* footer */
.l-footer-box {
    margin: 0 240px;
    padding: 40px 40px 0 40px;
}

/* footer-01 */
.l-footer-box-01 {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px 16px -8px;
}
.l-footer-nav-box {
    width: 75%;
    display: flex;
    /* justify-content: space-between; */
}
.l-footer-nav {
    width: 25%;
    padding: 0 8px;
}
.l-footer-icon-box {
    width: 25%;
    padding: 0 8px;
}
.l-footer-icon {
    display: flex;
    justify-content: flex-end;
}

/* footer-02 */
.l-footer-box-02 {
    margin: 0 -8px;
    border-top: 1px solid #222;
    font-size: 0;
}
.l-footer-left {
    padding: 12px 8px 0 8px;
}
.l-footer-left-box {
    display: flex;
    align-items: flex-end;
}
.l-footer-right {
    padding-right: 8px;
}
.l-footer-sub-menu {
    text-align: right;
    font-size: 0;
}

/* Contents */

/* header */
.header-wrapper {
    padding: 0 38px 0 36px;
}
.header-content-box {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-icon-box {
    /* text-align: center; */
    padding: 0 12px;
    z-index: 1;
}
.header-icon-24 {
    width: 24px;
    height: 24px;
}

/* header-01 */
.header-01_help {
    padding: 4px 8px;
}

/* header-02 */
.header-02_btn {
    z-index: 1;
    padding: 6px;
    background-color: rgba(0,0,0,0);  
    border-radius: 100px;
    font-size: 0px;
}
.gnb {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.menu {
    display: inline-block;
}
.menu_item {
    display: block;
    padding: 16px 12px 18px;
    margin-bottom: 2px;
}
.search-box {
    /* max-width: 1920px; */
    /* margin: auto; */
    padding-top: 10px;
}
.input-box {
    width: 180px;
    position: absolute;
    right: 0;
}
.input-box_ipt {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 8px 48px;
    border: none;
    border-radius: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.input-box_ipt::placeholder {
    color: #ccc;
}
.input-box_btn {
    /* display: flex; */
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 6px 8px;
    border: none;
}

/* main */
.main-img-wrapper {
    position: relative;
    background-color: #f5f5f5;
    font-size: 0;
}
.main-img-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-link {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background: #111;
    color: #fff;
    border-radius: 20px;
    padding: 8px 28px;
    margin: 6px 6px 0 0;
}
.main-link--white {
    background: #fff;
    color: #111;
}
.main-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 1.166667;
    font-weight: 500;
}
.main-content {
    margin: 0 -8px;
}
.main-content-grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4,1fr);
    column-gap: 48px;
}
.main-text-box {
    font-size: 0;
}
.main-fg {
    padding: 0 8px;
    position: relative;
}
.main-fgc {
    position: absolute;
    bottom: 36px;
    left: 44px;
}
.main-fg-out {
    margin-right: 16px;
    position: relative;
}
.main-fgc-out-01 {
    margin: 12px 16px 0 0;
    display: flex;
    justify-content: space-between;
}
.main-fgc-out-02 {
    /* width: 90%; */
    padding-top: 16px;
}
.main-fgc-cnt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 36px;
}
.main-menu {
    overflow: hidden;
}
.main-menu>li {
    margin-bottom: 12px;
}
.main-menu>li>a {
    display: block;
    line-height: 1.5;
    font-weight: 500;
    color: #757575;
}

/* banner */
.banner-text-box {
    text-align: center;
    color: #111;
}
.banner-text-box>span {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}
.banner-link {
    text-decoration: underline;
    font-size: 12px;
    line-height: 2;
    font-weight: 500;
}

/* hero */

/* footer */
#footer {
    /* ? */
    /* width: 100%; */
    background-color: #111;
}

/* footer-01 */
.footer-nav {
    margin-bottom: 3px;
}
.footer-nav>a {
    color: #7e7e7e;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
}
.l-footer-nav[data-index="0"]
.footer-nav>a,
.footer-nav.list-header>a {
    color: #fff;
    font-family: "Nike TG","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}
.footer-icon-box {
    margin-left: 16px;
}
.footer-icon {
    fill: #7e7e7e;
    transition: fill .2s;
}

/* footer-02 */
.footer-box-02 {
    width: 50%;
    display: inline-block;
}
.footer-location {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    line-height: 1;
}
.footer-location>span {
    color: #fff;
    margin: 0 8px;
}
.footer-copyright {
    padding-top: 20px;
    margin-left: 16px;
    font-size: 10px;
    line-height: 1;
}
.footer-copyright--color {
    color: #7e7e7e;
}
.footer-sub-menu {
    display: inline-block;
    font-size: 10px;
    line-height: 2.4;
    margin-left: 12px;
}
.footer-sub-menu a {
    display: block;
    /* border-top: 2px solid transparent; */
    padding: 8px;
    color: #7e7e7e;
    font-size: 10px;
    /* line-height: 1; */
}
.footer-sub-dropdown-menu {
    border-top: 2px solid transparent;
}


/* hover */

/* header */
.header-icon-box:hover>img {
    filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg) brightness(101%) contrast(86%)
}
.header-01_help:hover,
.header-01_mem:hover,
.input-box_ipt:hover::placeholder {
    color: #757575;
}
.header-02_btn:hover,
.input-box_ipt:hover {
    background: #e5e5e5;
}
.input-box_btn:focus,
.input-box_ipt:focus {
    outline: none;
}
.menu_item:hover {
    border-bottom: 2px solid #111;
}

/* main */
.main-link:hover {
    opacity: .75;
}

/* footer */
.footer-nav>a:hover,
.footer-sub-menu a:hover {
    color: #fff;
}
.footer-icon:hover {
    fill: #fff;
}
.footer-sub-dropdown-menu:hover {
    border-top: 2px solid #fff;
}