/* Layout */
.header-02, .hero-img-box, .main-content-fx-box, .footer-nav-box {
    display: flex;
}
.footer-icon-box {
    display: flex;
    justify-content: flex-end;
}
.header-01, .footer-box_01, .l-figcaption-02 {
    display: flex;
    justify-content: space-between;
}
.banner {
    display: flex;
    justify-content: center;
}
.footer-left-box, .footer-location {
    display: flex;
    align-items: flex-end;
}
.header-link-box, .header-link, .header-01_mem-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
#header {
    width: 100%
}
.l-gnb {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.l-menu {
    width: calc(100% - 680px);
    height: 60px;
    margin: 0 auto;
    /* overflow: hidden; */
    max-width: 1255px;
    font-size: 0;
    text-align: center;
}

/* main */
#main {
    margin-bottom: 56px;
}
.l-banner {
    width: 100%;
    min-height: 58px;
    padding-top: 10px;
}
.l-hero {
    max-width: 1808px;
    margin: 0 auto;
    padding: 0 8px;
}

/* aaa */
.l-figcaption-01 {
    position: absolute;
    bottom: 36px;
    left: 44px;
}
.l-figcaption-01.hrz-cnt {
    left: 50%;
    transform: translate(-50%, 0);
}
.l-figcaption-02 {
    margin: 12px 16px 0 0;
}
.l-figcaption-03 {
    /* width: 90%; */
    padding-top: 16px;
}

/* footer */
#footer {
    width: 100%;
}

/* footer-01 */
.l-footer-nav {
    width: 25%;
    padding: 0 8px;
}
.l-footer-icon {
    margin-left: 16px;
    font-size: 0;
}

/* footer-02 */
.l-footer-left-box, .l-footer-right-box {
    width: 50%;
    display: inline-block;
}
.l-footer-left-box {
    padding: 12px 8px 0 8px;
}
.l-footer-right-box {
    padding-right: 8px;
}
.l-footer-sub-menu {
    text-align: right;
    font-size: 0;
}

/* Contents */

/* header */
.header-wrapper {
    padding: 0 38px 0 36px;
}
.header-link-box {
    height: 100%;
}
.header-icon-box {
    padding: 0 12px;
    z-index: 1;
}
.header-icon {
    width: 24px;
    height: 24px;
}

/* header-01 */
.header-01 {
    height: 36px;
}
.header-01_help {
    padding: 4px 8px;
}
.header-01_mem-box {
    height: 100%;
    padding-right: 2px;
}

/* header-02 */
.header-02 {
    height: 60px;
    /* position: fixed; */
}
.header-02_logo{
    width: 60px;
    height: 60px;
}
.header-02_btn {
    z-index: 1;
    padding: 6px;
    background-color: rgba(0,0,0,0);  
    border-radius: 100px;
    font-size: 0px;
}
.gnb-box {
    flex-grow: 1;
}
.menu-item {
    display: inline-block;
}
.menu-item_link {
    display: block;
    padding: 16px 12px 18px;
    margin-bottom: 2px;
}
.search {
    padding-top: 10px;
}
.search-box {
    width: 100%;
    height: 60px;
    padding: 0 20px 0 16px;
}
.pre-input-box {
    width: 100%;
    height: 100%;
    position: relative;
}
.input-box {
    width: 180px;
    position: absolute;
    right: 0;
}
.input-box_ipt {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 8px 48px;
    border: none;
    border-radius: 100px;
}
.input-box_ipt::placeholder {
    color: #ccc;
}
.input-box_btn {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 6px 8px;
    border: none;
}


/* main */
.main-img-wrapper {
    position: relative;
    background-color: #f5f5f5;
    font-size: 0;
}
.main-img-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-link {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background: #111;
    color: #fff;
    border-radius: 20px;
    padding: 8px 28px;
    margin: 6px 6px 0 0;
}

/* banner */
.banner-box {
    overflow: hidden;
}
.banner {
    width: calc(100% * 2);
    animation: slide 14600ms infinite;
}
.banner-text-box {
    width: 100%;
    text-align: center;
    color: #111;
}
.banner-text-box>span {
    display: block;
    font-size: 14px;
    line-height: 1;
}
.banner-link {
    text-decoration: underline;
    font-size: 12px;
    line-height: 2;
}

/* hero */
.hero-img-wrapper {
    width: 896px;
    height: 667px;
}
.hero-text-box {
    margin-top: 48px;
    text-align: center;
}

/* main-content */
.main-content-01 {
    max-width: 1808px;
    margin: 84px auto 0;
    padding: 0 8px;
}
.main-content-02 {
    max-width: 920px;
    margin: 84px auto 0;
    padding: 0 20px;
}
.main-header-box {
    width: 100%;
    margin-bottom: 24px;
    font-size: 0;
}
.main-content-box.mg {
    margin: 0 -8px;
}
.main-img-box-01, .main-img-box-02 {
    position: relative;
}
.main-img-box-01 {
    padding: 0 8px;
}
.main-img-box-02 {
    margin-right: 16px;
}
.main-link-box {
    margin-top: 18px;
}
.main-link--white {
    background: #fff;
    color: #111;
}
.fs-img, .tn-img {
    /* width: 888px; */
    height: 700px;
}
.lg-img {
    /* width: 586px; */
    height: 586px;
}
.nse-img {
    /* width: 1792px; */
    height: 900px;
}
.mte-img {
    /* width: 586px; */
    height: 733px;
}
.slogan-img {
    /* width: 1792px; */
    height: 700px;
}
.main-content-grid-box {
    /* width: 100%; */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4,1fr);
    column-gap: 48px;
}
.main-menu {
    overflow: hidden;
}
.main-menu>li {
    margin-bottom: 12px;
}
.main-menu>li>a {
    display: block;
    line-height: 1.5;
    font-weight: 500;
    color: #757575;
}


/* footer */
.footer--bgc {
    background-color: #111;
}
.footer-box {
    margin: 0 240px;
    padding: 40px 40px 0 40px;
}

/* footer-01 */
.footer-box_01 {
    margin: 0 -8px 16px -8px;
}
.footer-nav-box {
    width: 75%;
    /* justify-content: space-between; */
}
.footer-nav {
    margin-bottom: 3px;
}
.footer-nav>a {
    color: #7e7e7e;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
}
.l-footer-nav[data-index="0"]
.footer-nav>a,
.footer-nav.list-header>a {
    color: #fff;
    font-family: "Nike TG","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}
.footer-icon-sec {
    width: 25%;
    padding: 0 8px;
}
.footer-icon-link {
    display: block;
}
.footer-icon {
    fill: #7e7e7e;
    transition: fill .2s;
}

/* footer-02 */
.footer-box_02 {
    margin: 0 -8px;
    border-top: 1px solid #222;
    font-size: 0;
}
.footer-location {
    font-size: 10px;
    line-height: 1;
}
.footer-location>span {
    color: #fff;
    margin: 0 8px;
}
.footer-copyright {
    padding-top: 20px;
    margin-left: 16px;
    font-size: 10px;
    line-height: 1;
}
.footer-copyright--color {
    color: #7e7e7e;
}
.footer-sub-menu {
    display: inline-block;
    font-size: 10px;
    line-height: 2.4;
    margin-left: 12px;
}
.footer-sub-menu a {
    display: block;
    /* border-top: 2px solid transparent; */
    padding: 8px;
    color: #7e7e7e;
    font-size: 10px;
    /* line-height: 1; */
}
.footer-sub-dropdown-menu {
    border-top: 2px solid transparent;
}


/* hover */

/* header */
.header-icon-box:hover>img {
    filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg) brightness(101%) contrast(86%)
}
.header-01_help:hover,
.header-01_mem-box>a:hover,
.input-box_ipt:hover::placeholder {
    color: #757575;
}
.header-02_btn:hover,
.input-box_ipt:hover {
    background: #e5e5e5;
}
.input-box_btn:focus,
.input-box_ipt:focus {
    outline: none;
}
.menu-item_link:hover {
    border-bottom: 2px solid #111;
}

/* main */
.main-link:hover {
    opacity: .75;
}

/* footer */
.footer-nav>a:hover,
.footer-sub-menu a:hover {
    color: #fff;
}
.footer-icon:hover {
    fill: #fff;
}
.footer-sub-dropdown-menu:hover {
    border-top: 2px solid #fff;
}

/* keyframes */
@keyframes slide {
    0% {
        margin-left: 0;
    }
    41.095890% {
        margin-left: 0;
    }
    50% {
        margin-left: -100%;
    }
    91.095890% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;;
    }
}